# compiled PoC binaries -- rebuild with ./run_micro.sh
micro/f01
micro/f02
micro/f04
micro/f04b
micro/f04c
micro/f04_noasan
micro/f06
micro/f09
micro/f10
micro/f19
micro/f21
micro/f23
micro/f_misc
micro/fmisc
